<!DOCTYPE HTML>
<!-- FOob
-->
<html>
<link rel="shortcut icon" href="./images/favicon.ico">
<head>
	<title>Ransom Wedding! </title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>

<body>

	<!-- Header -->
	<header id="header">

		<!-- Logo -->
		<h1 id="logo">Ransom Wedding </h1>


		<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
		<!--<script type="text/javascript" src="jquery.downCount.js"></script>-->

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li>
					<a href="#us">
						<ul class="countdown" id="countdown">
							<li>
								<span style="font-weight: bold" class="days">00</span>
								<span style="font-weight: bold" class="days_ref">D</span>
								<span style="font-weight: bold" class="hours">00</span>
								<span style="font-weight: bold" class="hours_ref">H</span>
								<span style="font-weight: bold" class="minutes">00</span>
								<span style="font-weight: bold" class="minutes_ref">M</span>
								<span style="font-weight: bold" class="seconds">00</span>
								<span style="font-weight: bold" class="seconds_ref">S</span>
							</li>
						</ul>
					</a>
				</li>
				<li><a href="#ourstory">Welcome</a></li>
				<li><a href="#venue">Venue</a></li>
				<li><a href="#weddingparty">Wedding Party</a></li>
				<li><a href="#rsvp">RSVP</a></li>
				<li><a href="#accomodations">Accommodations</a></li>
				<li><a href="#registry">Registry</a></li>
				<li><a href="#phoenix">Phoenix</a></li>
			</ul>

			<!-- 						
OUR STORY - 
BRIDAL PARTY - 
VENUE - 
RSVP -
ACCOMMODATIONS -
REGISTRY - 
PHOENIX
 -->
		</nav>

	</header>

	<!-- us -->
	<section id="us" class="main style1 dark fullscreen">
		<div class="content container 75%">
			<header>
				<h2 style="vertical-align: top">Josh and Emily</br>1.23.2016</h2>
			</header>
			<p>Phoenix, Arizona.</p>
			<footer>
				<a href="#ourstory" class="button style2 down">More</a>
			</footer>

		</div>
	</section>

	<!-- ourstory -->
	<section id="ourstory" class="main style2 left dark fullscreen">
		<div class="content box style2">
			<header>
				<h2>Welcome.</h2>
				<h4>Come help us celebrate!</h4	>
						<p>#RansomWedding123</p>
					</header>
				</div>
				<a href="#engagement" class="button style2 down anchored">Next</a>
			</section>

			<!-- engagement -->
			<section id="engagement" class="main style2 left dark fullscreen">
				<div class="content box style2">
						<h2>Engagement</h2>
					</header>
					<p>Josh and Emily were engaged under the twinkle of the Eiffel Tower on March 10th 2015 during their adventure to Paris and Rome.</p>
				</div>
				<a href="#venue" class="button style2 down anchored">Next</a>
			</section>

		<!-- venue -->
			<section id="venue" class="main style2 right dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>Venue: Monorchid Gallery</h2>
					</header>
					<p style="font-weight: bold">214 E Roosevelt St, Phoenix, AZ 85004</p>
					<p>A meeting spot, local art gallery and studio the Monorchid is all about displaying local talent and bringing people together. <br>Our ceremony starts at 5pm with reception to follow. 	
					</p>
				</div>
				<a href="#weddingparty" class="button style2 down anchored">Next</a>
			</section>

		<!-- weddingparty -->
			<section id="weddingparty" class="main style3 primary">
				<div class="content container">
					<header>
						<h2>Meet the gang</h2>
					</header>

					<!-- Lightbox Gallery  -->
						<div class="container 75% gallery">
							
							<div class="row 0% images">
								<div class="6u 12u(mobile)"><h3>Maid of Honor: Cierra Geer</h3><a href="images/cierra.jpg" class="image fit from-left"><img src="images/cierra.jpg" title="Maid of Honor: Cierra Geer" alt="" /></a></div>
								<div class="6u 12u(mobile)"><h3>Best Man: Jameson Bass</h3><a href="images/jameson2.jpg" class="image fit from-right"><img src="images/jameson2.jpg" title="Best Man: Jameson Bass" alt="" /></a></div>
							</div>

							<div class="row 0% images">
								<div class="6u 12u(mobile)"><h3>Bridesmaid: Kim Martin</h3><a href="images/kim.jpg" class="image fit from-left"><img src="images/kim.jpg" title="Bridesmaid: Kim Martin" alt="" /></a></div>
								<div class="6u 12u(mobile)"> <h3>Groomsman: Zach Robins</h3><a href="images/zach2.jpg" class="image fit from-right"><img src="images/zach2.jpg" title="Groomsman: Zach Robins" alt="" /></a></div>
							</div>

							<div class="row 0% images">
								<div class="6u 12u(mobile)"><h3>Bridesmaid: Brittany Ransom</h3><a href="images/brittany.JPG" class="image fit from-left"><img src="images/brittany.JPG" title="Bridesmaid: Brittany Ransom" alt="" /></a></div>
								<div class="6u 12u(mobile)"> <h3>Groomsman: Kerry Ray</h3><a href="images/kerry.jpg" class="image fit from-right"><img src="images/kerry.jpg" title="Groomsman: Kerry Ray" alt="" /></a></div>
							</div>

							<div class="row 0% images">
								<div class="6u 12u(mobile)"><h3>Bridesmaid: Lindsey Hilscher</h3><a href="images/lindsey.JPG" class="image fit from-left"><img src="images/lindsey.JPG" title="Bridesmaid: Lindsey Hilscher" alt="" /></a></div>
								<div class="6u 12u(mobile)"> <h3>Groomsman: Evan Eurich</h3><a href="images/evan.jpg" class="image fit from-right"><img src="images/evan.jpg" title="Groomsman: Evan Eurich" alt="" /></a></div>
							</div>

							<div class="row 0% images">
								<div class="6u 12u(mobile)"><h3>House Party: Helen Sterrett</h3><a href="images/helen.JPG" class="image fit from-left"><img src="images/helen.JPG" title="House Party: Helen Sterrett" alt="" /></a></div>
								 <div class="6u 12u(mobile)"> <h3>Usher: Ryan Greninger</h3><a href="images/ryan.jpg" class="image fit from-right"><img src="images/ryan.jpg" title="Usher: Ryan Greninger" alt="" /></a></div>
							</div>

							<div class="row 0% images">
								<div class="6u 12u(mobile)"><h3>House Party: Lisa Storer</h3><a href="images/lisa.JPG" class="image fit from-left"><img src="images/lisa.JPG" title="House Party: Lisa Storer" alt="" /></a></div>
								<div class="6u 12u(mobile)"> <h3>Usher: Sam Shasteen</h3><a href="images/sam.jpg" class="image fit from-right"><img src="images/sam.jpg" title="Usher: Sam Shasteen" alt="" /></a></div>
							</div>
						</div>
				</div>
								<a href="#rsvp" class="button style2 down anchored">Next</a>
			</section>
			<!-- rsvp coming soon -->
			<section id="rsvp" class="main style3 primary" style="height: 100%" ng-app="app">
				<div ng-controller="WeddingCtrl as ctrl" class="content container">
						<h2>RSVP</h2>
						<div>
							<form ng-show="!userFound && !hasGuestList">
								<h4>Please input the street number of the address your invitation was sent to</h4> 
								<input type="text" ng-model="user.address" style="width:50%; margin:auto;" placeholder="ex. Enter '123' if your address was '123 Melon St.'"/>
								</br>
								<button style="font-size:100%;" ng-click="findFamily(user)" ng-show="user.address">Find Me!</button>
							</form>
							
							<form method="post" ng-show="userFound && !rsvpSuccess" style="height:150px;">
								<div style="width:100%; text-align:center;">
									<div ng-repeat="guest in testFamily" style="padding: 10px; display: inline-block;  border: solid 1px #CCC;  border-radius:10px;">
											<h3>{{guest.name}}</h3>
											<input type="radio" ng-model="guest.isAttending" ng-value="true" >Attending</input></br>
											<input type="radio" ng-model="guest.isAttending" ng-value="false" ng-required="!guest.isAttending">Not Attending</input>
									</div>
								</div>	
								<input type="submit" value="RSVP" style=" font-size:100%; margin:auto;" ng-click="submitRsvp(testFamily)" ng-show="userFound && !rsvpSuccess && !hasGuestList"/>
							</form>
							<div ng-show="hasGuestList">
							<table >
								<tr style="font-weight: bold;"><td>Name</td><td>Attending</td></tr>
								<tr ng-repeat="guest in guestList">
									<td>{{ guest.name }}</td>
									<td>{{ guest.isAttending }}</td>
								</tr>
								<tr>
									<td style="font-weight:bold;"> Still Need to RSVP</td>
								</tr>
								<tr ng-repeat="person in needToRsvpList">
									<td>{{ person.name }}</td>
								</tr>
							</table> 
							</div> 
							<div ng-show="rsvpSuccess">
								</br>
								<h2 style="color:green; padding:25px">Thanks for your RSVP!</h2>
							</div>
						</div>
						<div>
		<a href="#accomodations" class="button style2 down anchored">Next</a>
	</section>

	<!-- accomodations -->
	<section id="accomodations" class="main style2 right dark fullscreen">
		<div class="content box style2">
			<h2>Where will you stay?</h2>
			<h3>Hilton Garden Inn Phoenix</h3>
			
			<p>	4000 N Central Ave, Phoenix, AZ 85012
				</br>(602) 279-9811
				</br>Ask for the Ransom Wedding block of rooms.
				<br>Nightly Rate: $109 + taxes
				<br>Includes free shuttle service to and from venue.
				<br>Must be booked by December 22nd.</p>
			<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d13312.794930585907!2d-112.08180789081541!3d33.47017635821159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0x872b125defe92be9%3A0x937c89d985b7fb57!2sHilton+Phoenix+Suites%2C+10+East+Thomas+Road%2C+Phoenix%2C+AZ+85012!3m2!1d33.480647999999995!2d-112.07215699999999!4m5!1s0x872b12163b8ae15b%3A0x3108a84fb23cb526!2sThe+Monorchid%2C+214+East+Roosevelt+Street%2C+Phoenix%2C+AZ+85004!3m2!1d33.458992699999996!2d-112.07063989999999!5e0!3m2!1sen!2sus!4v1436639417083" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe> -->
			<!--<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d26623.923749535974!2d-112.09079520580812!3d33.4755989233079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x872b12f39a0dc757%3A0x77225a3f72960548!2sHilton+Garden+Inn+Phoenix+Midtown%2C+4000+North+Central+Avenue%2C+Phoenix%2C+AZ+85012!3m2!1d33.492513599999995!2d-112.0752555!4m5!1s0x872b12163b8ae15b%3A0x3108a84fb23cb526!2sMonorchid+Creative+Studios%2F+Event%2F+Wedding+Venue%2C+East+Roosevelt+Street%2C+Phoenix%2C+AZ!3m2!1d33.458992699999996!2d-112.07063989999999!5e0!3m2!1sen!2sus!4v1437281620232" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>-->
			<!--=======
					<p>4000 N Central Ave Phoenix, AZ 85012 602.279.9811 <br>Group Nightly Rate: $109 + taxes <br>Includes free shuttle service to and from venue. <br>Must be booked by December 22nd. <br> Make sure to use code "Ransom" when booking your stay online to get the group pricing. <a href="http://hiltongardeninn3.hilton.com/en/hotels/arizona/hilton-garden-inn-phoenix-midtown-PHXMDGI/index.html">Click here to book online.</a> <br>Phone Reservations: Mention "Ransom Wedding".</p>
					<div style="width: 400px; height: 400px;">				
					<!--<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d26623.923749535974!2d-112.09079520580812!3d33.4755989233079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x872b12f39a0dc757%3A0x77225a3f72960548!2sHilton+Garden+Inn+Phoenix+Midtown%2C+4000+North+Central+Avenue%2C+Phoenix%2C+AZ+85012!3m2!1d33.492513599999995!2d-112.0752555!4m5!1s0x872b12163b8ae15b%3A0x3108a84fb23cb526!2sMonorchid+Creative+Studios%2F+Event%2F+Wedding+Venue%2C+East+Roosevelt+Street%2C+Phoenix%2C+AZ!3m2!1d33.458992699999996!2d-112.07063989999999!5e0!3m2!1sen!2sus!4v1437281620232" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>-->
				</div>



		</div>
		<a href="#registry" class="button style2 down anchored">Next</a>
	</section>
	</section>
	<!-- registry -->
	<section id="registry" class="main style2 right dark fullscreen">
		<div class="content box style2">
			<header>
				<h2 href="http://www.amazon.com/registry/wedding/2MGQBPKU0SQNS">Registry</h2>
			</header>
			<p class="wishlist" style="font-weight:bold"><a href="http://www.amazon.com/registry/wedding/2MGQBPKU0SQNS"> Amazon Registry</a></p>

		</div>
		<a href="#phoenix" class="button style2 down anchored">Next</a>
	</section>

	<!-- phoenix -->
	<section id="phoenix" class="main style2 left dark fullscreen phoenix">
		<div class="content box style2 phoenix">
			<header>
				<h2>Welcome to our city!</h2>

			</header>
			<p>
				<h4 style="text-decoration:underline">
						<a href="https://www.google.com/search?rls=en&q=best+things+to+do+in+phoenix&ie=UTF-8&oe=UTF-8">Stuff to do in Phoenix</a><br>
						<a href="http://www.azscience.org/">Science Museum</a> <br>
						<a href="http://www.phxart.org/">Art Museum</a><br>
						<a href="http://arizonahiking.org/index.php/jreviews-directory/jreviews-listings-module-5">Hiking</a>
				<h4>
			</p>
				</div>

			</section>



		<!-- Footer -->
			<footer id="footer">

				<!-- Icons -->
					<!-- <ul class="actions">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					</ul> -->

				<!-- Menu -->
					<ul class="menu">
						<li>&copy; Ransom Wedding</li>
					</ul>

			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script class="source" type="text/javascript">
        $('.countdown').downCount({
            date: '01/23/2016 17:00:00',
            offset: -6
        }, function () {
            alert('WOOT WOOT, done!');
        });
    </script>
	
<script src="assets/js/angular/angular.js"></script>
<script src="assets/js/angular/wedding.controller.js"></script>
      
	


	</body>
</html>
